---
---

@import "{{ site.theme }}";

.btn {
  display: none !important;
}

header {
  display: none !important;
}

th {
    border-bottom: 1px dashed #ADD8E6 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #ADD8E6 !important;
}
